[package]
name = "lazy-static-include"
version = "2.2.0"
authors = ["Magic Len <len@magiclen.org>"]
repository = "https://github.com/magiclen/lazy-static-include"
homepage = "https://magiclen.org/lazy-static-include"
keywords = ["lazy", "macro", "static", "include"]
categories = ["memory-management", "rust-patterns"]
description= "This crate provides `lazy_static_include_bytes` and `lazy_static_include_str` macros to replace `include_bytes` and `include_str` macros."
readme = "README.md"
license = "MIT"

[badges.travis-ci]
repository = "magiclen/lazy-static-include"
branch = "master"

[dependencies]
lazy_static = "1.3"
syn = {version = "0.15", features = ["parsing", "full", "extra-traits"]}
starts-ends-with-caseless = "0.2.0"

[dev-dependencies]
bencher = "0.1.5"
serde_json = "1.0"

[[bench]]
name = "bench"
harness = false