[package]
name = "lazy-static-include"
version = "2.0.1"
authors = ["Magic Len <len@magiclen.org>"]
repository = "https://github.com/magiclen/lazy-static-include"
homepage = "https://magiclen.org/lazy-static-include"
keywords = ["lazy", "macro", "static", "include"]
categories = ["no-std", "memory-management", "rust-patterns"]
description= "This crate provides `lazy_static_include_bytes` and `lazy_static_include_str` macros to replace `include_bytes` and `include_str` macros."
readme = "README.md"
license = "MIT"

[badges]
travis-ci = { repository = "magiclen/lazy-static-include", branch = "master" }
appveyor = { repository = "magiclen/lazy-static-include", branch = "master", service = "github" }

[dependencies]
lazy_static = "1.3"
syn = {version = "0.15.31", features = ["parsing", "full", "extra-traits"], optional = true}
starts-ends-with-caseless = {version = "0.2.1", optional = true}

[dev-dependencies]
bencher = "0.1.5"
serde_json = "1.0"

[features]
default = ["starts-ends-with-caseless", "syn"]
no_std = []

[[bench]]
name = "bench"
harness = false